@import '~@/assets/style/variables.scss';

$theme-colors: (
	'primary': $blue
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body{
	font-family: Montserrat, sans-serif;
}

a{
	text-decoration: none;
}

.bordered{
	border-bottom: 3px dashed $red !important;
}

.red{
	color: $red;
	font-weight: bold;
}

button[class*="btn-outline"]{
	border-width: 3px !important;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
}
