$gold: #DAB100;
$main-red: #910B0B;
$red: $main-red;
$blue: #062a54;
$white: #FEFEFE;
$black: #111111;
$blackTransparent: #00000088;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$theme-colors: (
	'gold': $gold
);

$spacers: (
	8: 5rem
);

$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, .50);
